# C++ build and binaries.
radiation/cpp/build/
radiation/cpp/bin/

# Figures.
*/figures/

# Compiled object files
*.slo
*.lo
*.o

# Compiled dynamic and static libraries
*.so
*.dylib
*.la
*.a

# Glog log files
*.log*
*.INFO

# OSX dir files
.DS_store

# Bazel stuff.
bazel*

# Saved data.
*.npy
*.csv

# Emacs backups.
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so